.headerSpacer, .footerSpacer{
	height: 50px;
}

.settingsWrapper{
	text-align: center;
}

.settingsLabel{
	width: 100%;
	display: inline-block;
	margin-bottom: 25px;
}

.settingsInput{
	margin: 10px 5px;

}