nav, footer {
  padding-top:1%;
}

nav {
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 20px;
  z-index: 10;
  background-color: rgb(255,255,255);
  border-top: 2px solid gray;
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
}

ul li.liWithIcon{
  margin: 0 auto;
  list-style-type: none;
  display:inline-block;
  width:33%;
  text-align: center;
  cursor: pointer;
}

.liWithIcon:hover, a:hover{
  background-color: limegreen;
}

.icon{
  width:40px;
  height:auto;
  margin-top: 15px;
}

a{
  text-decoration: none;
  color: white;
  width: 33%;
  float: left;
  text-align: center;
}
