.headerSpacer, .footerSpacer{
	height: 50px;
}

.settingsWrapper{
	text-align: center;
}

.settingsForm{
	max-width: 350px;
	margin: 0 auto;
}

.settingsLabel{
	width: 100%;
	display: inline-block;
	margin-bottom: 25px;
}

.settingsInput{
	display: block;
	margin: 10px auto;

}